{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Add concept{% endblock %}

{% block body_block %}
<div class="well hero-unit">
    
	<h1>Create a Concept</h1>
	<hr>
	
	{% if user.is_authenticated%}
    
    {% if success %}
    <p><strong>Successful concept creation... </strong></p>
    {% else %}
    
    <strong>Please enter the following information... </strong>
    <br />
    <div class="row-fluid">
        <div class="span12">
        	{% if course_url and date_url %}
            <form id = "concept_form" method = "post" action = "/curriculum/add_concept/{{ course_url }}/{{ date_url }}/" enctype = "multipart/form-data">
                {% csrf_token %}
                {{ concept_form.as_p }}
                
                <input class = "btn btn-primary" type = "submit" name = "submit" value = "create concept"/>
            </form>
			{% else %}
			<form id = "concept_form" method = "post" action = "/curriculum/add_concept/" enctype = "multipart/form-data">
                {% csrf_token %}
                {{ concept_form.as_p }}
                
                <input class = "btn btn-primary" type = "submit" name = "submit" value = "create concept"/>
            </form>
			{% endif %}
        	
        </div>
    </div>
    {% endif %}
	{% else %}
	
	
    
	{% endif %}
</div>
{% endblock %}