{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <div class="well hero-unit">
        
	<h1>Create Course</h1>
	<hr>
	
	{% if user.is_authenticated%}
    
        {% if success %}
        <p><strong>Successful course creation... </strong></p>
        {% else %}
        
        <strong>Please enter the following information... </strong>
		<br />
		<div class="row-fluid">
            <div class="span12">
        	
                <form id = "course_form" method = "post" action = "/curriculum/add_course/" enctype = "multipart/form-data">
                    {% csrf_token %}
                    {{ course_form.as_p }}
			
                <input class = "btn btn-primary" type = "submit" name = "submit" value = "add_course"/>
                </form>
        	
            </div>
        </div>
        {% endif %}
	{% else %}
	
	
		
	{% endif %}
    </div>
{% endblock %}