{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}All Courses{% endblock %}

{% block body_block %}
	<div class = "well hero-unit">
		<div class = "row-fluid">
			<div class = "text-center">
				<h1>All Courses</h1>
			</div>
			<hr>
			
			<div class = "row-fluid">
				<div class = "span12">
					<div class = "row-fluid">
						<div class = "span4">
							<strong>Engineering Science</strong>
							{% if ES %}
								{% for course in ES %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
						<div class = "span4">
							<strong>Chemical and Biochemical</strong>
							{% if CBE %}
								{% for course in CBE %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
						<div class = "span4">
							<strong>Civil and Enivronmental</strong>
							{% if CEE %}
								{% for course in CEE %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class = "row-fluid">
                <div class = "span12">
                    <div class = "row-fluid">
						<div class = "span4">
							<strong>Electrical and Computer</strong>
							{% if ECE %}
								{% for course in ECE %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
		
						<div class = "span4">
							<strong>Green Process</strong>
							{% if GPE %}
								{% for course in GPE %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
						<div class = "span4">
							<strong>Mechanical and Materials</strong>
							{% if MME %}
								{% for course in MME %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class = "row-fluid">
				<div class = "span12">
					<div class = "row-fluid">
						<div class = "span4">
							<strong>Mechatronic Systems</strong>
							{% if MSE %}
								{% for course in MSE %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
						<div class = "span4">
							<strong>Software</strong>
							{% if SE %}
								{% for course in SE %}
									<li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
								{% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
                        <div class = "span4">
							<strong>Other</strong>
							{% if other %}
                            {% for course in other %}
                            <li style = "line-height:110%;font-size:100%;"><a href = "/curriculum/courses/{{ course.get_url }}/">{{course.course_code}}</a></li>
                            {% endfor %}
							{% else %}
                            <ul>
                                <li>Currently Empty</li>
                            </ul>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			<hr>

		</div>
	</div>
{% endblock %}