{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
		<!-- This is the links for bootstrap files -->
		<link href = "{% static 'css/bootstrap.min.css' %}" rel = "stylesheet">
		<link href = "{% static 'css/bootstrap-responsive.css' %}" rel = "stylesheet">
		<link href = "{% static 'css/bootstrap-fluid-adj.css' %}" rel = "stylesheet">
		
		
		<title>Curriculum Map - {% block title %}{% endblock %}</title>
	</head>
	
	<body>		
		<!-- Top menubar -->
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "navbar-inner">
				<div class = "container"> 
					<button type = "button" class = "btn btn-navbar" data-toggle = "collapse" data-target = ".nav-collapse">
						<span class = "icon-bar"></span>
						<span class = "icon-bar"></span>
                        <span class = "icon-bar"></span>
					</button>
					<a class = "brand" href = "/curriculum">Home</a>
					
					<div class = "nav-collapse 	collapse">
						<ul class = "nav nav-pills pull-right">
							{% if user.is_authenticated %}
								<li class = "navbar-text" style="color:white;padding-right:20px;">Welcome, {{ user.username }}!</li>
								<li><a href = "/curriculum/profile/">Profile</a></li>
								<li><a href = "/curriculum/logout/">Logout</a></li>							
							{% else %}
								<li><a href = "/curriculum/register/">Register</a></li>
								<li><a href = "/curriculum/login/">Login</a></li>
							{% endif %}
						</ul>
						<ul class = "nav">
							{% if user.is_authenticated %}
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/curriculum/departments/Chemical_and_Biochemical_Engineering/">Chemical and Biochemical Engineering</a></li>
										<li><a href="/curriculum/departments/Civil_and_Environmental_Engineering">Civil and Environmental Engineering</a></li>
										<li><a href="/curriculum/departments/Electrical_and_Computer_Engineering">Electrical and Computer Engineering</a></li>
										<li><a href="/curriculum/departments/Mechanical_and_Materials_Engineering">Mechanical and Materials Engineering</a></li>
										<!--
										<li class="divider"></li>										
										<li><a href="/curriculum/departments/">View All Departments</a></li>
										-->
									</ul>
								</li>
                                
                                <li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/curriculum/programs/Chemical_Engineering">Chemical Engineering</a></li>
										<li><a href="/curriculum/programs/Civil_Engineering">Civil Engineering</a></li>
										<li><a href="/curriculum/programs/Computer_Engineering">Computer Engineering</a></li>
										<li><a href="/curriculum/programs/Electrical_Engineering">Electrical Engineering</a></li>
										<li><a href="/curriculum/programs/Green_Process_Engineering">Green Process Engineering</a></li>
										<li><a href="/curriculum/programs/Integrated_Engineering">Integrated Engineering</a></li>
										<li><a href="/curriculum/programs/Mechanical_Engineering">Mechanical Engineering</a></li>
										<li><a href="/curriculum/programs/Mechatronic_Systems_Engineering">Mechatronic Systems Engineering</a></li>
										<li><a href="/curriculum/programs/Software_Engineering">Software Engineering</a></li>
									</ul>
								</li>
							{% endif %}
							<li><a href = "/curriculum/course_list/">Courses</a></li>
							<li><a href = "/curriculum/about/">About</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end top menu bar -->
		
		<!-- side bar and main content window -->
		
		<div class = "container-fluid" style = "margin-left:auto;margin-right:auto;">
			<div class = "row-fluid">
				<!--<div class = "span3">
					<div class = "well sidebar-nav">

					</div>
				</div> -->
				<div class = "span9">					
					<!-- content specific to the page user is on -->
					{% block body_block %}
					{% endblock %}
				</div>
				<div class = "span3">
					<div class = "well hero-unit" style = "padding-left:20px; padding-right:20px; padding-top:20px;">
						<h3 class = "text-center">Available actions</h3>
						<hr>
						
						<li class = "nav-header" style = "padding-left:25px; font-size:80%;">Find Course:</li>
						<form class = "text-center">
							<label></label>
							<input class = "search-query span10" type="text" name="course_suggestion" value="" id="course_suggestion" autocomplete="off">
						</form>
						<div id = "courses">
							{% include 'curriculum/search_list.html' with course_list=course_list %}
						</div>

						
						<hr>
						<li class = "nav-header" style = "padding-left:25px; font-size:80%">Find Concept:</li>
						<form class = "text-center">
							<input class = "search-query span10" type="text" name ="concept_suggestion" value="" id ="concept_suggestion" autocomplete="off">
						</form>
						<div id = "concepts">
							{% include 'curriculum/search_list.html' with concept_list=concept_list %}
						</div>
						<hr>
						
						{% if user.is_authenticated %}
							<div style = "padding-left:10%; padding-right:10%;">
                            <p class="text-center"><a class="btn btn-primary btn-block" href = "/curriculum/add_course/">Create a course</a></p>
                            <p class="text-center"><a class="btn btn-primary btn-block" href = "/curriculum/add_concept/">Create a concept</a></p>
                        	<p class="text-center"><a class="btn btn-primary btn-block" href = "/curriculum/add_instance/">Create a course instance</a></p>
							</div>
                            
                            <hr>
							<div style = "padding-left:10%; padding-right:10%;">
								<p style = "line-height:130%; font-size:90%;"><a class="btn btn-primary btn-block" href = "#">View my courses</a></p>
								<p style = "line-height:130%; font-size:90%;"><a class="btn btn-primary btn-block" href = "#">View map</a></p>
								<p style = "line-height:130%; font-size:90%;"><a class="btn btn-primary btn-block" href = "#">Create query</a></p>
								<p style = "line-height:130%; font-size:90%;"><a class="btn btn-primary btn-block" href = "#">Edit profile</a></p>
							</div>
							<hr>
						{% else %}
							<ul>
								<li style = "line-height:130%; font-size:90%;"><a href = "#">View concept map</a></li>
								<li style = "line-height:130%; font-size:90%;"><a href = "#">View course map</a></li>
							</ul>
							
							<hr>
							<p style = "line-height:120%;">Please <a href = "/curriculum/login/">Login</a> or <a href = "/curriculum/register/">Register</a> for more options.</p>
							<hr>
						{% endif %}
						
						
						<!-- content specific to the page user is on -->
						{% block right_block %}
						{% endblock %}
					</div>
				</div>
	
			</div>
		</div> 
		<!-- end side bar and main content window-->
		
		<hr>
		<!-- footer yo -->
		<footer>
			<div class = "row-fluid">
				<div class = "container text-center">
                        <br/>
                        <strong>Curriculum Analysis and Tracking Project</strong>
                        <p>&copy; M.Landry, D.Mackinnon, B.Speir</p>
                    
				</div>
			</div>
		</footer>
		
		<script src = "{% static 'js/jquery-2.1.0.min.js' %}"></script>
		<script src = "{% static 'js/bootstrap.min.js' %}"></script>
		<script src = "{% static 'js/curriculum-ajax.js' %}"></script>
	</body>	
</html>