{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Concept{% endblock %}

{% block body_block %}
<div class = "well hero-unit">
	<div class = "row-fluid">
		<div class = "span12">
			<h1>Concept Page</h1>
			<hr>
			<h2>Name: {{ concept_name }}</h2>
			<hr>
			<h3>Description:</h3>
			<p>{{ description }}</p>
			<hr>
			<p>Ceab Measurement Unit: {{ ceab_unit }}</p>
			<hr>
			<p>Highschool concept? {{ highschool }}</p>
			<hr>
			<p>Height: {{ level }}</p>
			<hr>
			<p>Courses Instances:</p>
			{% for c in courses %}
				<p style = "line-height:100%; font-size: 90%;"><a href = "/curriculum/instances/{{ c.course.get_url }}/{{ c.get_date }}">{{ c.course }} - {{ c.date }}</a></p>
			{% endfor %}
			<hr>
			<a class = "btn btn-primary" href = "/curriculum/add_child_concept_search/{{ concept_url }}/">Add Child Concepts</a>
		</div>
	</div>
</div>
{% endblock %}