{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Calculate Accreditation Units{% endblock %}

{% block body_block %}
<div class="well hero-unit" style = "max-width:80%; min-width:80%; float:right;">
    
	<h1>Calculate Accreditation Units</h1>
	<h4>Program stream: <a href = "/curriculum/programs/{{ program_stream_url }}">{{ program_name}}</a></h4>
	<hr>
	
	{% if user.is_authenticated%}
    
		{% if success %}
		<p><strong>Number of lectures successfully updated </strong></p>
		{% else %}
		
		<strong>For the class of: </strong>
		<br />
		<div class="row-fluid">
			<div class="span12">
				
				<form id = "form" method = "post" action = "/curriculum/add_cohort/{{ program_stream_url }}/" enctype = "multipart/form-data">
					{% csrf_token %}
					{{ cohort_form.as_p }}
					
					<input class = "btn btn-primary" type = "submit" name = "submit" value = "Calculate"/>
				</form>
				
			</div>
		</div>
		{% endif %}
		
	{% endif %}
</div>
{% endblock %}