{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block body_block %}
	<div class = "well hero-unit" style = "max-width:80%; min-width:80%; float:right;">
		<div class="jumbotron">
            {% if user.first_name %}
            <h1>Welcome {{ user.first_name }}!</h1>
            {% else %}
            <h1>Welcome!</h1>
            {% endif %}
			<br/>
            <p>This application offers a range of features and functionalitites that will allow professors and T.A's to input information on the courses they teach. The tracking and analysis of this information will facilitate the accredidation process, allowing CEAB reports to be conducted in a streamlined and effecient manner.</p>
            <p>
            
            <a href="/curriculum/about/" class="btn btn-primary btn-large">
                Learn more...
            </a>
            </p>
            <hr>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class = "span4">		
						<img src={% static "c_map.jpg" %} style = "max-height:210px;"></img>    
                    </div>
					<div class = "span4">
						<img src={% static "bar.jpg" %} style = "padding-top:7%; min-width:200px;"></img>                        
                    </div>
                    <div class = "span4">
						<img src={% static "pie.jpg" %}></img>               
                    </div>
            	</div>
            </div>
        </div>
		<div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <div class = "span4">
						<br/>
                        <ul>
                            <li style = "line-height: 140%; ">Create and add new courses to the available programs.</li>
                            <li style = "line-height: 140%; ">Create concepts and define their CEAB accredidation unit.</li>
                        </ul>      
                    </div>
					<div class = "span4">
						<br/>
                        <ul>
                            <li style = "line-height: 140%; ">Create CEAB reports for a graduating year</li>
                            <li style = "line-height: 140%; ">Easily view AU breakdowns.</li>
                            <li style = "line-height: 140%; ">Generate a syllabus with the push of a button.</li>
                        </ul>
                        
                    </div>
                    <div class = "span4">
						<br/>
						<ul>
                            <li style = "line-height: 140%; ">Define course related data.</li>
                            <li style = "line-height: 140%; ">Upload graduate attribute measurements, and their respective rubriks.</li>
                        </ul>
                        
                    </div>
            	</div>
            </div>
        </div>
	</div>


{% endblock %}

