{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Instance{% endblock %}

{% block body_block %}
<div class = "well hero-unit">
    <div class = "row-fluid">
        <div class="span12">
            <!-- Dispay basic info; course code and name, as well as date -->
        	<h1>Course Instance</h1>
            <hr>
        	<h3><a href="/curriculum/courses/{{ parent_course.get_url }}">{{ parent_course.course_code }}</a> - {{ parent_course.name }}</h3>
            <hr>
            
            <!-- If there was an instance found and passed through the context... -->
            <p><strong>Date:</strong> {{ instance_date }}</p>
            {% if instance %}
            <p><strong>Textbook:</strong> {{ instance.textbook }}</p>
            <hr>
            
            <!-- Display Professors and Assistants -->
            <div class = "row-fluid">
                <div class="span6">
                    <p><strong>Professors: </strong></p>
                    <ul>
                    {% for teacher in instance.get_professors %}
                        {% if teacher.user.first_name and teacher.user.last_name%}
                        <li>{{ teacher.user.first_name }} {{ teacher.user.last_name}}</li>
                        {% else %}
                        <li>{{ teacher.user.username }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="span6">
                    <p><strong>Assistants: </strong></p>
                    <ul>
                    {% for assistant in instance.get_assistants %}
                        {% if assistant.user.first_name and assistant.user.last_name%}
                        <li>{{ assistant.user.first_name }} {{ assistant.user.last_name}}</li>
                        {% else %}
                        <li>{{ assistant.user.username }}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
            
            <!-- display accredidtion units and course info -->
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <!-- course info -->
                        <div class="span6">
                            <h4>Course Info:</h4>
                            <table class="table">
                                <tr>
                                    <td>Year:</td>
                                    <td>{{ parent_course.year }}</td>
                                </tr>
                                <tr>
                                    <td>Semester:</td>
                                    <td>{{ instance.semester }}</td>
                                </tr>
                                <tr>
                                    <td>Credit:</td>
                                    <td>{{ parent_course.credit }}</td>
                                </tr>
                                <tr>
                                    <td>Lecture Hours:</td>
                                    <td>{{ parent_course.lecture_hours }}</td>
                                </tr>
                                <tr>
                                    <td>Lab Hours:</td>
                                    <td>{{ parent_course.lab_hours }}</td>
                                </tr>
                                
                            </table>
                            
							<!--
                            <p class="text-center"><a class="btn btn-primary" href="/curriculum/courses/{{ parent_course.get_url }}">View course page</a></p>
							-->
                        </div>
                        
                        <!-- accredidtion units -->
                        <div class="span6">
                            <h4>Accreditation Unit Breakdown:</h4>
                            <table class="table">
                                <tr>
                                    <td><strong>Category</strong></td>
                                    <td><strong>(%)</strong></td>
                                </tr>
                                <tr>
                                    <td>Math</td>
                                    <td>{{ instance.acc_math }}</td>
                                </tr>
                                <tr>
                                    <td>Science</td>
                                    <td>{{ instance.acc_science }}</td>
                                </tr>
                                <tr>
                                    <td>Engineering Science</td>
                                    <td>{{ instance.acc_eng_science }}</td>
                                </tr>
                                <tr>
                                    <td>Engineering Design</td>
                                    <td>{{ instance.acc_eng_design }}</td>
                                </tr>
                                <tr>
                                    <td>Complimentary Studies</td>
                                    <td>{{ instance.acc_comp }}</td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
            <hr>
            
            <!-- Display Learning objectives if they Exist -->
            <h3>Learning Objectives</h3>
            {% if objectives %}
            {% for objective in objectives %}
            <h5>{{ objective.name }}</h5>
            <p>{{ objective.description }}</p>
            {% endfor %}
            <!-- if none were found alert the user -->
            {% else %}
            <p>There were no learning objectives listed under this course instance...</p>
            {% endif %}
            <p><a class="btn btn-primary" href="/curriculum/add_objective/{{ parent_course.get_url }}/{{ instance.get_date }}/">Add Learning Objective</a></p>
            <hr>
            
            <!-- Display Deliverables if they Exist -->
            <h3>Deliverables</h3>
            {% if deliverables %}
            <table class="table">
                <tr>
                    <td><strong>Type</strong></td>
                    <td><strong>Percent</strong></td>
                    <td><strong>Delivery Date</strong></td>
                </tr>
                <!-- traverse through the deliverables listing their attributes -->
                {% for deliverable in deliverables %}
                <tr>
                    <td>{{ deliverable.type }}</td>
                    <td>{{ deliverable.percent }}</td>
                    <td>{{ deliverable.due_date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>There were no deliverables listed under this course instance...</p>
            {% endif %}
            <p><a class="btn btn-primary" href="/curriculum/add_deliverable/{{ parent_course.get_url }}/{{ instance.get_date }}/">Add Deliverable</a></p>
            <hr>
            
            <!-- Display Concepts if they Exist -->
            <h3>Concepts</h3>
                {% if concepts %}
                <table class="table">
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Type</strong></td>
                        <td><strong>Description</strong></td>
                    </tr>
                    <!-- traverse through the deliverables listing their attributes -->
                    {% for concept in concepts %}
                    <tr>
                        <td><a href = "/curriculum/concepts/{{ concept.get_url }}/">{{ concept.name }}</a></td>
                        <td>{{ concept.ceab_unit }}</td>
                        <td>{{ concept.description }}</td>
                    </tr>
                    {% endfor %}
                </table>
                
                {% else %}
                <p>There were no concepts listed under this course instance...</p>
                {% endif %}
                
            <!-- if no instance was found... -->
            {% else %}
            <p>There were no course instances found for {{ parent_course.course_code }} with a date of {{ instance_date }}</p>
            {% endif %}
			
			<div class = "row-fluid">
				<div class = "span3">
					<p><a class="btn btn-primary btn-block" href="/curriculum/add_concept/{{ parent_course.get_url }}/{{ instance.get_date }}/">Add New Concept</a></p>
					<p><a class="btn btn-primary btn-block" href="/curriculum/add_concept_search/{{ parent_course.get_url }}/{{ instance.get_date }}/">Link Existing Concept</a></p>
				</div>
			</div>
            <hr>
            
            <!--display ceab grad measurements if they exist-->
            <h3>CEAB Graduate Attribute Measurements</h3>
            {% if measurements %}
            	{% for measurement in measurements %}
            	<div class="row-fluid">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span6">
                                <table class="table">
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ measurement.name }}</td>
                                    </tr>
                                    <tr>
                                        <td>Date:</td>
                                        <td>{{ measurement.date }}</td>
                                    </tr>
                                    <tr>
                                        <td>Attribute:</td>
                                        <td>{{ measurement.attribute }}</td>
                                    </tr>
                                    <tr>
                                        <td>Average:</td>
                                        <td>{{ measurement.average }}</td>
                                    </tr>
                                </table>
                                
                            </div>
                            <div class="span6">
                                <!-- put example display of measurement file here? -->
                                <p>Example of the measurement file could go here?</p>
                            </div>
                        </div>
                    </div>
            	</div>
                
                {% endfor %}
            {% else %}
            	<p>There were no ceab graduate attributes listed under this course instance...</p>
            {% endif %}
            <p><a class="btn btn-primary" href="/curriculum/add_ceab_measurement/{{ parent_course.get_url }}/{{ instance.get_date }}/">Add CEAB Graduate Attribute</a></p>
            </h3>
        </div>
    </div>
</div>
{% endblock %}