{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}{{ option_name }}{% endblock %}

{% block body_block %}
<div class = "well hero-unit" style = "max-width:80%; min-width:80%; float:right;">
    <div class = "row-fluid">
        <!-- if an option was passed -->
        {% if option %}
        
		<div class = "">
			<h1>{{ option.name }}</h1>
			<h3>Program: <a href="/curriculum/programs/{{ option.program_stream.get_url }}/">{{option.program_stream.name}}</a></h3>
			<a class = "btn btn-default" href ="/curriculum/add_cohort/{{ option_url }}/">View Accreditation Units</a>
		</div>
        <hr>
        <div class="text-center">
        <!-- display courses -->
			<h2>Course Progression: </h2>
		</div>
		<br/>
        <div class="span12">
        <div class="row-fluid">
        <div class="span3">
            <p><strong>1st Year:</strong></p>
				<div style = "height:150px; overflow-y:auto;">
					{% if list1 %}
						<ul>
						{% for course in list1 %}
								<li style = "font-size:80%;"><a href = "/curriculum/courses/{{ course.get_url }}">{{ course.course_code }}</a><a class = "close" href = "/curriculum/delete_course_from_list/{{ option_url }}/{{ course.get_url }}/1/">&times;</a></li>
						{% endfor %}
						</ul>
					{% else %}
						<p>Currently Empty</p>
					{% endif %}
				</div>
            

			<li class = "nav-header" style = "font-size:80%">Add Course:</li>
			<form>
				<input class = "search-query span10" type="text" name ="add_courses_1" value="" id ="add_courses_1" autocomplete="off">
				<input type = "hidden" value="{{ option_url }}" name ="hidden-input1" id ="hidden-input1">
				<input type = "hidden" value="1" name ="hidden-input2" id ="hidden-input2">
			</form>
			<div id = "results1" style="height:150px; overflow-y:auto;">
				{% include 'curriculum/search_list_add.html' with concept_list=concept_list %}
			</div>			

        </div>
        
        <div class="span3">
            <p><strong>2nd Year:</strong/></p>
			<div style = "height:150px; overflow-y:auto;">
				{% if list2 %}
					<ul>
					{% for course in list2 %}
							<li style = "font-size:80%;"><a href = "/curriculum/courses/{{ course.get_url }}">{{ course.course_code }}</a><a class = "close" href = "/curriculum/delete_course_from_list/{{ option_url }}/{{ course.get_url }}/2/">&times;</a></li>
					{% endfor %}
					</ul>
				{% else %}
					<p>Currently Empty</p>
				{% endif %}
			</div>
			
			<li class = "nav-header" style = "font-size:80%">Add Course:</li>
			<form>
				<input class = "search-query span10" type="text" name ="add_courses_2" value="" id ="add_courses_2" autocomplete="off">
				<input type = "hidden" value="{{ option_url }}" name ="hidden-input3" id ="hidden-input3">
				<input type = "hidden" value="2" name ="hidden-input4" id ="hidden-input4">
			</form>
			<div id = "results2" style="height:150px; overflow-y:auto;">
				
			</div>	
        </div>
        
        <div class="span3">
            <p><strong>3rd Year:</p></strong>
            <div style = "height:150px; overflow-y:auto;">
				{% if list3 %}
					<ul>
					{% for course in list3 %}
						<li style = "font-size:80%;"><a href = "/curriculum/courses/{{ course.get_url }}">{{ course.course_code }}</a><a class = "close" href = "/curriculum/delete_course_from_list/{{ option_url }}/{{ course.get_url }}/3/">&times;</a></li>
					{% endfor %}
					</ul>
				{% else %}
					<p>Currently Empty</p>
				{% endif %}
            </div>
			
			<li class = "nav-header" style = "font-size:80%">Add Course:</li>
			<form>
				<input class = "search-query span10" type="text" name ="add_courses_3" value="" id ="add_courses_3" autocomplete="off">
				<input type = "hidden" value="{{ option_url }}" name ="hidden-input5" id ="hidden-input5">
				<input type = "hidden" value="3" name ="hidden-input6" id ="hidden-input6">
			</form>
			<div id = "results3" style="height:150px; overflow-y:auto;">
				{% include 'curriculum/search_list_add.html' with concept_list=concept_list %}
			</div>	
			
        </div>
        
        <div class="span3">
            <p><strong>4th Year:</p></strong>
            <div style = "height:150px; overflow-y:auto;">
				{% if list4 %}
					<ul>
					{% for course in list4 %}
						<li style = "font-size:80%;"><a href = "/curriculum/courses/{{ course.get_url }}">{{ course.course_code }}</a><a class = "close" href = "/curriculum/delete_course_from_list/{{ option_url }}/{{ course.get_url }}/4/">&times;</a></li>
					{% endfor %}
					</ul>
				{% else %}
					<p>Currently Empty</p>
				{% endif %}
            </div>
            
			
			<li class = "nav-header" style = "font-size:80%">Add Course:</li>
			<form>
				<input class = "search-query span10" type="text" name ="add_courses_4" value="" id ="add_courses_4" autocomplete="off">
				<input type = "hidden" value="{{ option_url }}" name ="hidden-input7" id ="hidden-input7">
				<input type = "hidden" value="4" name ="hidden-input8" id ="hidden-input8">
			</form>
            
			<div id = "results4" style="height:150px; overflow-y:auto;">
				{% include 'curriculum/search_list_add.html' with concept_list=concept_list %}
			</div>	
			
        </div>
        </div>
        </div>
        <!-- else display note to viewer -->
        {% else %}
        <p>No option was found...</p>
        {% endif %}
		
	</div>
</div>
{% endblock %}