{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Your Profile{% endblock %}

{% block body_block %}
<div class = "well hero-unit" style = "max-width:80%; min-width:80%; float:right;">
    <div class = "text-center">
        <h1>{{ user.username }}</h1>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <br/>
            <div class = "row-fluid">
                <div class="span6">
                    <table class="table">
                        <tr>
                            <td><strong>First Name </strong></td>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Last Name </srtong></td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Email </strong></td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% if userprofile %}
                        <tr>
                            <td><strong>Website </strong></td>
                            <td><a href = "{{ userprofile.website }}">{{ userprofile.website }}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Type </strong></td>
                            <td>{{ userprofile.get_type_display }}</td>
                        </tr>
						<tr>
							<td><strong>Teaches</strong></td>
							{% if teaches %}
								{% for t in teaches %}
									<td><a href="/curriculum/instances/{{ t.course.get_url }}/{{t.get_date}}/">{{ t.course }}, {{t.get_date}}</a></td>
								{% endfor %}
							{% else %}
								<td>Nothing</td>
							{% endif %}
						</tr>
						<tr>
							<td><strong>Assists</strong></td>
							{% if assists %}
								{% for a in assists %}
									<td>{{ a.course }}</td>
								{% endfor %}
							{% else %}
								<td>Nothing</td>
							{% endif %}
						</tr>
						
                        {% else %}
                        {% endif %}
                    </table>
                </div>
                <div class = "span6">
                    <div class = "text-center">
                        {% if userprofile.picture %}
                        <img src = "{{ userprofile.picture.url }}" style = "max-width:200px;height:auto;border:1px solid;"/>
                        <br />
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}