{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Your Profile{% endblock %}

{% block body_block %}
<div class = "well hero-unit" style = "max-width:80%; min-width:80%; float:right;">
    <div class = "text-center">
        <h1>{{ user.username }}</h1>
    </div>
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <h3>User Info:</h3>
            <div class = "row-fluid">
                <div class="span6">
                    <table class="table">
                        <tr>
                            <td>First Name: </td>
                            <td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Last Name: </td>
                            <td>{{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% if userprofile %}
                        <tr>
                            <td>Website: </td>
                            <td><a href = "{{ userprofile.website }}">{{ userprofile.website }}</a></td>
                        </tr>
                        <tr>
                            <td>Type: </td>
                            <td>{{ userprofile.type }}</td>
                        </tr>
						<tr>
							<td>Tracking:</td>
							<td>
							{% for c in cohorts %}
								<p>{{ c.program }}, {{ c.date_start }}, {{ c.date_end }} - <a href = "/curriculum/contact_hours_cohort/{{ c.id }}/">view</a></p>
							{% endfor %}
							</td>
						</tr>
                        {% else %}
                        {% endif %}
                    </table>
                </div>
                <div class = "span6">
                    <div class = "text-center">
                        {% if userprofile.picture %}
                        <img src = "{{ userprofile.picture.url }}" style = "max-width:200px;height:auto;border:1px solid;"/>
                        <br />
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}