{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}{{ program_name }}{% endblock %}

{% block body_block %}
	<div class = "well hero-unit">
		<div class = "row-fluid">
			<div class = "text-center">
				<h1>{{ program_name }}</h1>
			</div>
			<hr>
			<div class = "text-center">
				<h3>Department: <a href = "/curriculum/departments/{{ department.get_url }}/">{{ department.name }}</a></h3>
			</div>
			<hr>
			<p style = "font-size:85%; line-height:125%;">{{ program.description }}</p>
			<hr>
            
			<!-- Display options associated with program stream as links to said options -->
            <h3>Available Options:</h3>
            {% if options %}
            <ul>
            	{% for option in options %}
                <li><a href="/curriculum/options/{{ option.get_url }}/">{{ option.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>There were no options associated with this program stream...</p>
            {% endif %}
            <hr>
            
			<div class = "text-center">
				<h2>Base Courses</h2>
				<hr>
			</div>
            
			<!-- Loop through and display courses passed through context -->
			<div class = "row-fluid">
				<div class = "span12">
					<div class = "row-fluid">
			
						<div class = "span3">
                            <strong>First year:</strong>
							{% if courses1 %}
								<ul>
								{% for course1 in courses1 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course1.get_url }}/">{{ course1.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
						
						<div class = "span3">		
							<strong>Second year:</strong>
							{% if courses2 %}
								<ul>
								{% for course2 in courses2 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course2.get_url}}">{{ course2.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
						
						<div class = "span3">	
							<strong>Third year:</strong>
							{% if courses3 %}
								<ul>
								{% for course3 in courses3 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course3.get_url }}">{{ course3.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
						
						<div class = "span3">
							<strong>Fourth year:</strong>
							{% if courses4 %}
								<ul>
								{% for course4 in courses4 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course4.get_url }}">{{ course4.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
					</div>
				</div>
			
			</div>
			
		</div>
	</div>
{% endblock %}