{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}{{ program_name }}{% endblock %}

{% block body_block %}
	<div class = "well hero-unit" style = "max-width:80%; min-width:80%; float:right;">
		<div class = "row-fluid">
			<div class = "">
				<h1>{{ program_name }}</h1>
			</div>
			<div>
				<h3>Department: <a href = "/curriculum/departments/{{ department.get_url }}/">{{ department.name }}</a></h3>
			</div>
			<hr>
			<p style = "font-size:95%; line-height:135%;">{{ program.description }}</p>
			<hr>
            
			<!-- Display options associated with program stream as links to said options -->
            <h3>Available Options:</h3>
            {% if options %}
            <ul>
            	{% for option in options %}
                <li><a href="/curriculum/options/{{ option.get_url }}/">{{ option.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>There were no options associated with this program stream...</p>
            {% endif %}
            <hr>
            
			<div>
				<h3>Core Courses:</h3>
			</div>
            
			<!-- Loop through and display courses passed through context -->
			<div class = "row-fluid">
				<div class = "span12">
					<div class = "row-fluid">
                        <!--
						<div class = "span3">
                            <strong>First year:</strong>
							{% if courses1 %}
								<ul>
								{% for course1 in courses1 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course1.get_url }}/">{{ course1.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
						
						<div class = "span3">		
							<strong>Second year:</strong>
							{% if courses2 %}
								<ul>
								{% for course2 in courses2 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course2.get_url}}">{{ course2.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
						
						<div class = "span3">	
							<strong>Third year:</strong>
							{% if courses3 %}
								<ul>
								{% for course3 in courses3 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course3.get_url }}">{{ course3.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
						
						<div class = "span3">
							<strong>Fourth year:</strong>
							{% if courses4 %}
								<ul>
								{% for course4 in courses4 %}
									<li style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course4.get_url }}">{{ course4.course_code }}</a></li>
								{% endfor %}
								</ul>
							{% else %}
								<p>No courses</p>
							{% endif %}
						</div>
                         -->
                        <table class="table">
                            <p style = "font-size:95%; line-height:135%;">The following list constitutes the core courses that appear in the majority options available under the {{ program_name }} program. Depending on the particular option chosen, courses will be added or removed to reach specific curriculum standards.
                            </p>

                            <tr>
                                <td><strong>Year:</strong></td>
                                
                                <td><strong>Course Code:</strong></td>
                                <td><strong>Course Name:</strong></td>
                            </tr>
                            {% for course in courses %}
                            <tr>
                                <td>{{course.get_year_display }}</td>

                                <td style = "font-size:85%; line-height:130%;"><a href = "/curriculum/courses/{{ course.get_url }}">{{ course.course_code }}</a></td>
                                <td>{{course.name}}</td>
                            </tr>
                            {% endfor %}
                        </table>
					</div>
				</div>
			
			</div>
			
		</div>
	</div>
{% endblock %}