{% extends 'curriculum/base.html' %}

{% load static %}

{% block title %}Register{% endblock %}

{% block body_block %}
	<div class = "well hero-unit">
		<h1>Register Here</h1>
		<br />
		
		<div class = "container">
			{% if registered %}
				<p>Thanks for joining up!</p>
				
				<p><a href = "/curriculum/login/">Login</a> When you want to, no pressure.</p>
			{% else %}
				
				<form class = "form-signin span8" = "user_form" method = "post" action = "/curriculum/register/" enctype = "multipart/form-data">
					{% csrf_token %}
					{{ user_form.as_p }}
					{{ profile_form.as_p }}
					
					<br />
					<input class = "btn btn-primary" type = "submit" name = "submit" value = "Register"/>
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}