<ul class="nav nav-list">
	{% if course_list %}
		<div style="height:150px; overflow:scroll;">
            <table class="table">
			{% for course in course_list %}
            
				<tr><td style = "line-height:100%; font-size:70%;"><div class="text-center"><a href = "/curriculum/courses/{{ course.get_url }}">{{ course.course_code }}</a></div></td></tr>
			
            {% endfor %}
            </table>
		</div>
	{% endif %}
	
	{% if concept_list %}
		
            <table class="table">
			{% for concept in concept_list %}
				<tr><td style = "line-height:100%; font-size:70%;"><div class="text-center"><a href = "/curriculum/concepts/{{ concept.get_url }}/">{{ concept.name }}</a></div></td></tr>
			{% endfor %}
            </table>
	
	{% endif %}
</ul>